{% extends 'templates/base.html' %}

{% block content %}
    <h1>What?</h1>
    <p>CFR Ninja (<a href="https://cfr.ninja">cfr.ninja</a>) is a website that aims to provide an improved interface when it comes to accessing train schedules and delays in Romania.</p>

    <h1>Why?</h1>
    <p>CFR (Căile Ferate Române) is Romania's national railway carrier. It maintains Romania's entire railway network and operates the trains driving on them. Their website does provide near real-time information about delays and current location of trains. It is however, of very poor quality. It's unusable on a mobile device due to its use of deprecated technlogies.</p>
    <p>I travelled with CFR myself last summer and not being able to check from your phone whether you're scheduled to arrive on time is horrible. It barely loads on a mobile connection due to poor design. You cannot use it when it finally loads because the information you're trying to access cannot be scrolled to on a mobile device.</p>
    <p>I am a Dutch guy living in Cluj-Napoca, Romania and I and many others are sick of the poor IT infrastucture provided by Romania's government and its departments. I aim to improve them and provide alternatives where possible.<p>

    <h1>Tech</h1>
    <p>This website is supposed to be blazing fast. It might not be the prettiest of its kind, but it's fast and usable. It does not use JavaScript. It does not load custom fonts. It does not track you. You can confirm. This website does not use Google Analytics or any of the kind. Neither does it use or require cookies. It will stay that way.</p>
    <p>This website's entire stack has been released as open-source under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a> and can be found on <a href="https://github.com/Photonios/cfr.ninja">Github</a>. You're free to browse, modify and re-distribute it as long as proper attribution is given. See the license for more details.</p>

    <h1>Disclaimer</h1>
    <p>We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with CFR or any of its subsidiaries or its affiliates.</p>
    <p>We make no representations as to the accuracy or completeness of any information on this site or found by following any link on this site. We will not be liable for any errors or omissions in this information nor for the availability of this information. We will not be liable for any losses, injuries, or damages from the display or use of the information provided by this website.</p>
{% endblock %}
