<!DOCTYPE html>
<html lang="en">
    <head>
        <title>cfr.ninja</title>

        <link rel="icon" href="/favicon.ico" sizes="256x256">
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">

        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <header>
                <img src="/logo.png">
        </header>
        <content>
            {% block content %}
            {% endblock %}
        </content>
    </body>
</html>
