{% extends 'templates/base.html' %}

{% block content %}
    <table id="train-details">
        <tr>
            <th>{{ _('Route') }}</th>
            <td>{{ route }}</td>
        </tr>
        <tr>
            <th>{{ _('Operator') }}</th>
            <td>{{ operator }}</td>
        </tr>
        <tr>
            <th>{{ _('Rank') }}</th>
            <td>{{ rank }}
        </tr>
        <tr>
            <th>{{ _('Number') }}</th>
            <td>{{ number }}</td>
        </tr>
        <tr>
            <th>{{ _('Distance') }}</th>
            <td>{{ distance }}</td>
        </tr>
        <tr>
            <th>{{ _('Duration') }}</th>
            <td>{{ duration }}</td>
        </tr>
        <tr>
            <th>{{ _('Arrives at') }}</th>
            <td>{{ arrival_at }}</td>
        </tr>
        <tr>
            <th>{{ _('Delay') }}</th>
            <td>{{ delay }} minutes</td>
        </tr>
        <tr>
            <th>{{ _('Next stop') }}</th>
            <td>{{ next_stop }}</td>
        </tr>
        <tr>
            <th>{{ _('Last info') }}</th>
            <td>{{ last_info }}</td>
        </tr>
    </table>
    <table id="train-schedule">
        <tr>
            <th>{{ _('Distance') }}</th>
            <th>{{ _('Station') }}</th>
            <th>{{ _('Arrives') }}</th>
            <th>{{ _('Leaves') }}</th>
            <th>{{ _('Staying') }}</th>
            <th>{{ _('Delay') }}</th>
        </tr>
        {% for item in schedule %}
            <tr>
                <td>{{ item.km }} km</td>
                <td>{{ item.station }}</td>
                <td>{{ item.arriving_at }}</td>
                <td>{{ item.leaving_at }}</td>
                <td>{{ item.staying_for }}m</td>
                <td>{{ item.delay }}m</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
